<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_User>
            <!-- <version>0.1.0</version> -->
            <version>0.4.0</version>
        </Excellence_User>
    </modules>
    <frontend>
        <routers>
            <user>
                <use>standard</use>
                <args>
                    <module>Excellence_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
        <layout>  <!-- New Section Added -->
            <updates>
                <user>
                    <file>user.xml</file> <!-- This is name of the layout file for this module -->
                </user>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <user>
                <class>Excellence_User_Block</class>
            </user>
        </blocks>
        <helpers>
            <user>
                <class>Excellence_User_Helper</class>
            </user>
        </helpers>
    </global>
     <!--Added for Observer-->
       <global>
        <models>
            <Excellence_User>
                <class>Excellence_User_Model</class>
            </Excellence_User>
        </models>
        <events>
            <customer_login>
                <observers>
                    <Excellence_User>
                        <type>singleton</type>
                        <class>Excellence_User/observer</class>
                        <method>customerLogin</method>
                    </Excellence_User>
                </observers>
            </customer_login>
        </events>
    </global>
    <global>
        <models>
            <Excellence_User>
                <class>Excellence_User_Model</class>
            </Excellence_User>
        </models>
        <events>
            <customer_logout>
                <observers>
                    <Excellence_User>
                        <type>singleton</type>
                        <class>Excellence_User/observer</class>
                        <method>customerLogout</method>
                    </Excellence_User>
                </observers>
            </customer_logout>
        </events>
    </global>

   <!--Added for database-->
   <global>
    <models>
        <user>
            <class>Excellence_User_Model</class> <!-- Location of all model class files -->
            <resourceModel>user_mysql4</resourceModel> <!-- Location of resource model -->
        </user>
        <user_mysql4>
            <class>Excellence_User_Model_Mysql4</class>
            <entities>
                <user>
                    <table>user</table>  <!-- Actual table name in sql  -->
                </user>
                <address> 
                    <table>address</table>
                </address>
                 <observer>
                    <table>login_user</table>
                </observer>
            </entities>
        </user_mysql4>
    </models>
    <resources>  <!-- These are resource setting giving access to module, read/write permission on database -->
        <test_setup>
            <setup>
                <module>Excellence_User</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </test_setup>
        <test_write>
            <connection>
                <use>core_write</use>
            </connection>
        </test_write>
        <test_read>
            <connection>
                <use>core_read</use>
            </connection>
        </test_read>
    </resources>
 </global>
 <!--xxxxxxxxxxxxxxxxxxxxxx-->
</config>