<?xml version="1.0"?>
<config>
    <tabs>
        <newtab translate="label" module="user">
            <label>New Tab</label>
            <sort_order>1</sort_order>
        </newtab>
    </tabs>
    <sections>
        <usersection translate="label" module="user">
            <class>separator-top</class>
            <label>New user Section</label>
            <tab>newtab</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <user translate="label">
                    <label>User Group</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <patient translate="label">
                            <label>Sign In Gate Email Template</label>
                            <frontend_type>text</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </patient>
                    </fields>



                    <fields>
                        <slider translate="label">
                            <label>Show Slider In Sign In Gate</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                       </slider>
                    </fields>

                    <fields>
                     <Data translate="label">
                        <label>Select Socail Media</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>adminhtml/system_config_source_country</source_model>
                        <sort_order>3</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </Data>
                </fields>

                <fields>
                        <view_style translate="label">
                        <label>Display Settings</label>
                        <frontend_type>multiselect</frontend_type>
                        <source_model>user/system_config_source_view</source_model>
                        <sort_order>40</sort_order>
                        <show_in_default>1</show_in_default>
                        </view_style>
                </fields>            
                </user>
                </groups>
            </usersection>
    </sections>
</config>
